header
  .container
    a(href='/')
      .header__logo
        img(src="../assets/img/logo.svg", width="48", alt="Lending logo")
    .header__nav
      .nav__item
        img(src="../assets/img/nav_logo.svg", width="48", alt="Nav logo")
