header {
  padding: 48px 87px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__item {
  margin: 0px 5px;
}
@media (max-width: 600px) {
  .header {
    width: 600px;
  }
}
