include ../utils/mixins
block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name="description", content=description)
    block head

  body(class=pageClass)
    #app
      include ../includes/modules/header
      .home-page
        .content
          block slide1
          block slide2
        block pre-footer

    block script
